auth_enabled: false

server:
  http_listen_port: 3100

common:
  path_prefix: /data
  storage:
    filesystem:
      chunks_directory: /data/chunks
  replication_factor: 1

schema_config:
  configs:
    - from: 2026-01-01
      store: tsdb
      object_store: filesystem
      schema: v13
      index:
        prefix: index_
        period: 24h

limits_config:
  allow_structured_metadata: false

ruler:
  storage:
    type: local
    local:
      directory: /data/rules